
body{
	background-image: url(./aa.gif);
	height:720px;
	padding: 0;

}


section.about h1{
	margin-bottom: 1rem;
	font-size: 2.6rem;
	font-weight: 400;
	padding-left: 7rem;
	color: lightgrey;
}
section.about h1 span{
	color: white;

}
section.about h3{
	font-size: 2rem;
	margin-bottom: 1rem;
	font-weight: 400;
	padding-left: 7rem;
	color: lightgrey;
	padding-top: 0.1rem;

}
section.about p{
	font-family: 'RocknRoll One', sans-serif;
	font-style: bold;
	color: white;
	line-height: 1.5;
	padding-left:7rem;
	font-size: 1.2rem;
}
section.about.social{
display: flex;
}
.about-me-img{
	height: 280px;
	widows: 280px;
	border-radius: 30px;
	padding-left: 10rem;
	padding-top: 14%;

}
.flex{
	display:flex;
	color:black;
}
.items-center{
	align-items: center;
}
.btn{
	padding: 1rem 1rem;
	font-size: 1rem;
	font-weight: 600;
	border: 2px solid transparent;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: all .3s linear;
	border-radius: 6px;
}

.btn-secondary{
	background:transparent;
	color:white;
	border-color:grey;
	


}
.btn-secondary:hover{
	background: white;
	color:black;
	box-shadow:0  20px 35px white ;
	border: none;
position: fixed;
}
.gift{
	padding: 2rem;
	padding-left: 47%;
	padding-bottom: 9rem;
}
.header{
	background: transparent;
	color: white;
padding-top: 1.5rem;
	text-align: center;
	font-family: 'Original Surfer', cursive;
	font-size: 30px;
}

footer{
	font-family: 'Satisfy', cursive;
	background: transparent;
}


.footer-bottom{
	background:transparent;
	padding:5px;
	text-align: center;
	}

.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
	color: lightgrey;	

}
.footer-bottom span{
	color: lightgrey;
	opacity: 0.6;
	font-weight: 200;

}

.btn-primary{
	background:transparent;
	color:white;
border-color:grey;
padding: 5px;
}
.btn-primary:hover{
	background: white;
	color:black;
	box-shadow:0  20px 35px white ;
	border: white;
	position: fixed;
}

.song{
	text-decoration: none;
	color: white;
	padding-left: 20rem;
}
.card{
	text-decoration: none;
	color: white;
}

.to{
	width: 80px;
	height: 80px;
}


#eid {
	background: url("./eid.png")no-repeat;
}


.rog{
	padding-left: 60%;
}

.rog2{
	padding-left: 65%;
}
.rog2 img{
	width: 200px;
	height: 300px;
}

.about-me-img2{
	height: 280px;
	widows: 280px;
	border-radius: 30px;
	padding-left: 10rem;
	padding-top: 3%;

}